* {
  margin: 0;
  padding: 0;
}
/* #header {
  display: flex;
  border-top: 3px solid darkgray;
  border-bottom: 3px dotted darkgray;
  padding: 10px;
  text-align: center;
}
#header-h1 {
  flex-grow: 1;
  font-size: 1.5em;
}
#Nav_flexbox {
} */
