#Nav_flexbox {
  align-self: flex-end;
  /* display: flex;
  justify-content: flex-end; */
}
#Nav_flexbox ul {
  display: flex;
  flex-wrap: wrap;
  text-align: right;

  justify-content: flex-end;
}
#Nav_flexbox li {
  /* font-weight: bold;
  color: blue; */
  text-decoration: underline;
  list-style: none;
  margin: 0 5px 0 5px;
}
